body {
  background-color: #21252B ;
  color: #878E9C;
}

.spell-container {
  display: flex;
}

.filter {
  margin: 5px;
  flex: 1;
  border-right-width: thin;
  border-right-color: #3C4049;
  border-right-style: solid;
}

.spells {
  margin: 5px;
  flex: 1;
  border-right-width: thin;
  border-right-color: #3C4049;
  border-right-style: solid;
  overflow-y: auto;
  height: 800px;
}

.spell-detail {
  margin: 5px;
  flex: 4;
}

.spell-item-container {
  display: flex;
  padding: 5px;
}

.spell-item-name {
  flex: 1;
}

.spell-item-contents {
  flex: 6;
}

/* Dropdown Button */
.dropbtn {
   background-color: #4CAF50;
   width: 100px;
   font-size: 12px;
   color: white;
   padding: 6px;
   border: none;
   cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 100px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 2px 2px;
   text-decoration: none;
   display: block;
   cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: #3e8e41;
}
